<h1>Products#index</h1>

<div class="container">
<% @products.each_slice(3) do |products| %>
<div class="card-deck">
  <% products.each do |product| %>
  <div class="card">
    <img src="<%=product.photo%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class='card-title'><%=product.name%> </h5>
        <p class='card-text'><%=number_to_currency product.price%>
        <%=link_to 'comprar', orders_path(product), class: 'btn btn-warning', method: :post%>
        <%= link_to "Agregar al carro", products_path(product), class: 'btn btn-success', method: :post  %><p/>
    </div>
    <div class='card-footer'>
      <small class='text-muted'><%= time_ago_in_words product.created_at %></small>
    </div>
  </div>
    <% end %>
</div>

</div>
<br>
<%end%>
